<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<import resource="oracle/datasource.oracle.xml"/>
	<import resource="oracle/hibernate.oracle.xml"/>
	<import resource="oracle/mybatis.oracle.xml"/>
	<import resource="oracle/transaction.oracle.xml"/>


</beans>
